<section class="fm-About container">
  
  
  <div class="row">
    
    <!-- ABOUT -->
    <section class="fm-About-section fm-About-article col-xs-12 col-sm-6">
      <div class="row ">
        <div class="col-xs-12">
          <h3 class="fm-About-header">about me</h3>
          <p class="fm-About-blurb">
            When I was young, I loved Dexter's Laboratory, a cartoon about a young boy who invents the unimaginable in his attic. I dreamed of achieving the same things in my own life and devoted myself to the study of science. The further I got into the sciences, the more I realized that the magic in Dexter's life wasn't his understanding of the world, it was his ability to create something from nothing--to breathe life into his work. Since I became a programmer, I have discovered the same skill in myself--I can build applications, tools, and games from keystrokes, and I am only limited by how fast I type. 
          </p>
        </div>
      </div>
    </section>
    
    
    <!-- PORTRAIT -->
    <section class="fm-About-section fm-About-portrait col-xs-12 col-sm-6">
      <div class="fm-About-portraitRow row">
        <div class="fm-About-portraitImgWrapper col-xs-10 col-xs-offset-1">
          <img class="fm-About-portraitImg img-responsive center-block" 
               ng-src="{{ abtCtrl.portrait }}" 
               alt="Frazier Mork" 
          />
        </div>
      </div>
    </section>
    
    
    <!-- SKILLS -->
    <section class="fm-About-section col-xs-12 col-sm-6">
      <h3 class="fm-About-header">Skills</h3>
      <ul class="fm-About-skillList">
        <li class="fm-About-skillWrapper"
            data-ng-repeat="skill in abtCtrl.skills"
        >
          <div class="fm-About-skillRow">
            <div class="fm-About-skillIcon">
              <div class="fm-About-skillIconWrapper">
                <img ng-src="{{ skill.icon }}" 
                     alt="{{ skill.name }}"
                     class="fm-About-skillIconImg img-responsive center-block"
                />
              </div>
            </div>    
            
            <div class="fm-About-skillNameWrapper">
              <p class="fm-About-skillName"
                 data-ng-bind="skill.name"
              ></p>
            </div>
          </div>
        </li>  
      </ul>
    </section>
    
    
    
    <!-- CONTACT -->
    <section class="fm-About-section col-xs-12 col-sm-6">
      <form class="fm-About-contact" 
            action="javascript:void(0);" 
            name="contactForm"
            novalidate 
            autocomplete="off"
      >
        <h3 class="fm-About-header">contact me</h3>
        <p class="fm-About-blurb">
          If you have questions, comments, or are interested in collaborating, please don't hesitate to reach out. 
        </p>
        <div class="row">
          <div class="form-group col-xs-12">
            <label for="fm-About-emailInput"
                   class="fm-About-label"
            >Email address:</label>
            <input class="fm-About-contactInput form-control"
                   id="fm-About-emailInput"
                   type="email" 
                   name="name" 
                   data-ng-model="abtCtrl.emailData.from"
                   placeholder="Email"
                   required
            >
          </div>
        </div>
        
        <div class="row">
          <div class="form-group col-xs-12">
            <label for="fm-About-subjectInput"
                   class="fm-About-label"
            >Subject:</label>
            <input class="fm-About-contactInput form-control"
                   id="fm-About-subjectInput"
                   type="text" 
                   name="subject" 
                   data-ng-model="abtCtrl.emailData.subject"
                   placeholder="Subject"
                   required
            >
          </div>
        </div>
      
      
        <div class="row">
          <div class="form-group col-xs-12">
            <label for="fm-About-subjectInput"
                   class="fm-About-label"
            >Message:</label>
            <textarea class="fm-About-contactInput form-control"
                      name="body"
                      data-ng-model="abtCtrl.emailData.text"
                      placeholder="Message"
            ></textarea> 
          </div>
        </div>
      
        <button class="fm-About-contactSubmit btn btn-primary"
                type="submit" 
                name="button"
                data-ng-click="abtCtrl.sendEmail()"
        >send</button>
      </form>
      
      <div class="row">
        <div class="col-xs-6">
          <p class="fm-About-blurb">
            Or find me online: 
          </p>
        </div>
        
        <nav class="fm-About-links col-xs-6">
          <ul class="fm-About-linksList">
            <li class="fm-About-linkWrapper pull-right"
                data-ng-repeat="link in abtCtrl.links"
            >
              <a class="fm-About-link" 
                 ng-href="{{ link.url }}"
              >
                <span class="fm-About-icon fa"
                      ng-class="link.classesToApply" 
                      aria-hidden="{{ !link.content }}"
                      data-ng-bind="link.content"
                ></span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </section>
    
    
    
    
  </div>
  
  
  
  
  
  
  
  
  
  

  
  
</section>
