@import '../../style/fm-variables';

.fm-Header {
  display:          flex;
  flex-direction:   row;
  align-items:      center;
  height:           $headerLgHeight;
  position:         relative;
  background-color: white;
  z-index:          1;
  font-size:        1rem;
  font-family:      'Raleway', sans-serif;
  text-transform:   uppercase;
  font-stretch:     ultra-expanded;
  padding:          $smallGutter;
  
  // background: linear-gradient(180deg, white, white 90%, rgba(265, 265, 265, 0));
  
  .fm-Header-wrapper {
    position:       relative;
    display:        flex;
    flex-direction: row; 
    align-items:    center;
  }
  .fm-Logo {
    // margin:           $headerGutter $headerGutter 0 $headerGutter;
    display:     inline-block;
    margin-left: $smallGutter;
    // position:    absolute;
  }
  .fm-Header-title {
    display: inline-block;
    margin-left: $medGutter;
    // margin:  0 0 0 #{$headerGutter + $smallGutter};
    font-weight:      200;
  }
  .fm-Header-hamburger {
    position: fixed;
    top:      $medGutter;
    right:    $medGutter;
  }
  .fm-Nav-screen {
    display:          none;
    background-color: $lightGreyNegative;
  }
  
  .fm-Nav {
    position: fixed;
    bottom:   0;
    right:    0;
    
    .fm-Nav-list {
      list-style-type: none;
      padding:         0;
      
    }
    
    .fm-Nav-item {
      display: block;
      float:   none;
      margin:  $lgGutter $medGutter;
      
      &:first-of-type {
        
      }
      
      &.is-active {
        color: $lightGreyPositive;
      }
    }
    
    .fm-Nav-link {
      // text-decoration: none;
      color:           inherit;
      
    }
  }
  
  // Mobile Only 
  @media (max-width: $screen-sm-max) {
    &.is-showingSideNavbar {
      // right: $navBarWidth;
      
      .fm-Header-hamburger {
        right: calc(#{$navBarWidth} + #{$medGutter});
        // display: none;
      }
      
      .fm-Nav-screen {
        display:          block;
        position:         fixed;
        top:              0;
        left:             0;
        right:            0;
        bottom:           0;
      }
      
    }
    
    .fm-Nav {
      width:            $navBarWidth;
      background-color: white;
      top:              0;
      font-size:        1.25em;
    }
    
  }
  
  
  
  
  // Desktop 
  @media (min-width: $screen-md-min) {
    position:       fixed;
    top:            0;
    left:           0;
    right:          0;
    box-sizing:     border-box;
    transition:     all .25s ease-out;

    // Class only relevant above breakpoint
    &.is-small {
      height:     $headerSmHeight;
      box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.15);
    }
    
    .fm-Header-wrapper {
      
    }
    .fm-Header-logo {
      
    }
    .fm-Header-title {
      
    }
    .fm-Header-hamburger {
      display: none;
    }
    
    .fm-Nav {
      display:  block;
      position: absolute;
      
      .fm-Nav-list {
        
      }
      
      .fm-Nav-item {
        display: inline-block;
        float:   right;
        
        &:first-of-type {
          margin-right: $headerGutter;
        }
      }
      
      .fm-Nav-link {
        
      }
    }
    
  }
  
}

.u-shrinksWithNav {
  position: relative;
}


.fm-Header.is-showingSideNavbar ~ .u-shrinksWithNav {
  
  @media (max-width: $screen-md-min) {
    right: $navBarWidth;
  }
}
