<header class="fm-Header"
        data-ng-class="{ 
          'is-small':             headCtrl.headerIsSmall, 
          'is-showingSideNavbar': headCtrl.navVisible,
        }"
>
  
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <!-- LOGO -->
        <div class="fm-Header-wrapper clearfix">
          <svg version="1.1"
               baseProfile="full"
               width="34"
               height="55"
               class="fm-Logo"
               xmlns="http://www.w3.org/2000/svg" 
          >
            <path class="fm-Logo-square" 
                  d="M0 21 L 34 21"
            />
            <path class="fm-Logo-square" 
                  d="M21 0 L 21 21"
            />
            <path class="fm-Logo-square" 
                  d="M21 13 L 34 13"
            />
            <path class="fm-Logo-square" 
                  d="M26 13 L 26 21"
            />
            <path class="fm-Logo-square" 
                  d="M21 16 L 26 16"
            />
            <path class="fm-Logo-square"
                  d="M24 13 L 24 16"
            />
            <path class="fm-Logo-square"
                  d="M24 15 L 26 15"
            />
            <path class="fm-Logo-square"
                  d="M25 15 L 25 16"
            />
            
            <path class="fm-Logo-curve"
                  d="M34 55
                     A 34 34 0 0 1 0  21 
                     A 21 21 0 0 1 21 0 
                     A 13 13 0 0 1 34 13
                     A 8  8  0 0 1 26 21 
                     A 5  5  0 0 1 21 15 
                     A 3  3  0 0 1 24 13 
                     A 2  2  0 0 1 26 15 
                     A 1  1  0 0 1 25 16 
                  "
            />
          </svg>
          <h1 class="fm-Header-title">frazier mork</h1>
        </div>
      </div>
    </div>
  </div>
  
  
  
  
  <div class="fm-Nav-screen"
       data-ng-click="headCtrl.toggleNavVisibility()"
  ></div>
  <!-- NAVBAR -->
  <!-- <fm-navbar></fm-navbar> -->
  <nav class="fm-Nav"
       id="fm-Nav"
       data-ng-class="{ 
        'hidden-xs': !headCtrl.navVisible, 
        'hidden-sm': !headCtrl.navVisible, 
       }"
       data-ng-click="headCtrl.navVisible = false"
  >
    <ul class="fm-Nav-list">
    
      <li class="fm-Nav-item"
          ui-sref-active="is-active"
      >
        <a class="fm-Nav-link"
           ui-sref="portfolio"
        >portfolio</a>
      </li>
      
      <li class="fm-Nav-item"
          ui-sref-active="is-active"
      >
        <a class="fm-Nav-link"
           ui-sref="blog.list"
        >blog</a>
      </li> 
      
      
      <li class="fm-Nav-item"
          ui-sref-active="is-active"
      >
        <a class="fm-Nav-link"
           ui-sref="about"
        >about</a>
      </li>
      
    </ul>
  </nav>
    
  
  
  
  
  
  <!-- HAMBURGER -->
  <!-- TODO: add aria -->
  <button type="button" 
          name="menu"
          class="fm-Header-hamburger btn btn-default" 
          aria-label="menu"
          data-ng-click="headCtrl.toggleNavVisibility()"
  >
    <i class="fa fa-bars"></i>
  </button>
  
</header>
