<section class="fm-Portfolio container">
  <div class="row">
    <article class="fm-Portfolio-project col-xs-12"
             data-ng-repeat="project in portCtrl.projects"
    >
      <div class="row">
        <div class="fm-Portfolio-titleWrapper col-xs-12">
          <h3 class="fm-Portfolio-title"
              data-ng-bind="project.title"
          ></h3>
          <h6 class="fm-Portfolio-subtitle"
              data-ng-bind="project.subtitle"
          ></h6>
        </div>
      </div>
      
      

      
    
      <div class="fm-Portfolio-bodyWrapper row">
        <div class="col-xs-12 col-sm-6">
          <p class="fm-Porfolio-body"
             data-ng-bind="project.body"
          ></p>
          <nav class="fm-Portfolio-nav">
            <div class="fm-Portfolio-linkWrapper pull-right">
              <a class="fm-Portfolio-link btn btn-primary"
                 ng-href="{{ project.deployLink }}"
                 role="button"
              >View Project</a>
            </div>
            <div class="fm-Portfolio-linkWrapper pull-right">
              <a class="fm-Portfolio-link btn btn-default"
                 ng-href="{{ project.githubLink }}"
                 role="button"
              >View Code</a>
            </div>
          </nav>
          
        </div>
        
        <div class="fm-Portfolio-imageWrapper col-xs-12 col-sm-6">
          <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
              <img class="fm-Portfolio-image"
                   data-ng-src="{{ project.image.source }}" 
                   alt="project.image.altText" 
              />
            </div>
          </div>
        </div>
      </div>
      
    
      
      

      
    </article>
  </div>
</section>
