.fm-Portfolio {
  
}

.fm-Portfolio-project {
  margin-bottom: 15%;
}

.fm-Portfolio-title {
  
}

.fm-Portfolio-subtitle {
  
}

.fm-Portfolio-bodyWrapper {
  
}
.fm-Porfolio-body {
  
}

.fm-Portfolio-image {
  max-width: 100%;
}


.fm-Portfolio-nav {
  
}

.fm-Portfolio-linkWrapper {
  padding: 0;
  margin-top: 10px;
}

.fm-Portfolio-link {

}
