<nav class="fm-Sidebar">
  <section class="well">
    <h4 class="fm-Sidebar-title">Table of Contents:</h4>
    <ul class="fm-Sidebar-list">
      <li class="fm-Sidebar-linkWrapper"
          data-ng-repeat="section in sideCtrl.article.tableOfContents"
      >
        <div class="fm-Sidebar-caretWrapper">
          <div class="fm-Sidebar-caret">
            <span class="fa fa-caret-right"></span>
          </div>
        </div>
        
        <a class="fm-Sidebar-link"
           ng-href="# + section.anchor"
           data-ng-click="sideCtrl.handleClickOnTableOfContentsLink($event, section.anchor)"   
        >
          <div class="fm-Sidebar-linkTextWrapper">
            <p class="fm-Sidebar-linkText" data-ng-bind="section.content"></p>
          </div>
        </a>
      </li>
    </ul>
  </section>
  
  <section class="well hidden-xs hidden-sm">
    <h4 class="fm-Sidebar-title">Other Articles:</h4>
    <ul class="fm-Sidebar-list">
      <li class="fm-Sidebar-linkWrapper"
          data-ng-repeat="article in sideCtrl.articles"
          ui-sref-active="is-active"
      >
        <div class="fm-Sidebar-caretWrapper">
          <div class="fm-Sidebar-caret">
            <span class="fa fa-caret-right"></span>
          </div>
        </div>
        
        <a class="fm-Sidebar-link"
           ui-sref="blog.article({ articleUrl: article.url })"   
        >
          <div class="fm-Sidebar-linkTextWrapper">
            <p class="fm-Sidebar-linkText" data-ng-bind="article.title"></p>
          </div>
        </a>
      </li>
    </ul>
  </section>
</nav>
