<nav class="fm-Sidebar">
  <section class="well">
    <h4 class="fm-Sidebar-title">Table of Contents:</h4>
    <ul class="fm-Sidebar-list fm-Sidebar-toc">
      <li class="fm-Sidebar-sectionWrapper"
          data-ng-repeat="section in sideCtrl.article.tableOfContents"
      >
        <div class="fm-Sidebar-caretWrapper">
          <div class="fm-Sidebar-caret">
            <span class="fa fa-caret-right"></span>
          </div>
        </div>
        
        <a class="fm-Sidebar-link"
           ng-href="# + section.anchor"
           data-ng-click="sideCtrl.handleClickOnTableOfContentsLink($event, section.anchor)"   
        >
          <div class="fm-Sidebar-sectionTitleWrapper">
            <h6 class="fm-Sidebar-sectionTitle" data-ng-bind="section.content"></h6>
          </div>
        </a>
      </li>
    </ul>
  </section>
  
  <section class="well hidden-xs hidden-sm">
    <h4 class="fm-Sidebar-title">Other Articles:</h4>
    <ul class="fm-Sidebar-list">
      <li class="fm-Sidebar-linkWrapper row"
          data-ng-repeat="article in sideCtrl.articles"
          ui-sref-active="is-active"
      >
        <a class="fm-Sidebar-link"
           ui-sref="blog.article({ articleUrl: article.url })"   
        >
          <div class="col-xs-3">
            <span class="fm-Sidebar-articleDate">{{ article.publication_date | date:'MM/dd/yy' }}</span>
          </div>
          <div class="col-xs-9">
            <h6 class="fm-Sidebar-articleTitle" data-ng-bind="article.title"></h6>
          </div>
        </a>
      </li>
    </ul>
  </section>
</nav>
