@import '../../style/fm-variables';

.fm-Sidebar {
  padding:   $smallGutter;
  font-size: .75rem;
}

.fm-Sidebar-title {
  @include header-text();
  @include underlined();
  // @include fm-heading();
  margin-bottom: 1em;
  font-size:     1.5em;
  margin-top:    0;
  
  // font-family:   'Raleway', sans-serif;
}

.fm-Sidebar-list {
  list-style-type: none;
  padding:         0;
  margin-bottom:   0;
}

.fm-Sidebar-linkWrapper {
  margin-bottom: $medGutter;
  display:       flex;
  align-items:   center;
  
  &.is-active {
    color: $lightGreyPositive;
  }
  
  &:last-of-type {
    margin-bottom: 0;
  }
  
  .fm-Sidebar-link {
    margin:          0;
    width:           95%; 
    color:           inherit;
    text-decoration: none;
    
    .fm-Sidebar-linkTextWrapper {
      height:  100%;
      width:   100%;
      display: inline-block;
      
      .fm-Sidebar-linkText {
        margin: 0;
      }
    }
  }
}

.fm-Sidebar-caretWrapper {
  width:        10px;
  height:       100%;
  display:      inline-block;
  position:     relative;
  margin-right: $medGutter;
  
  &:before {
    content:        '';
    display:        block;
    padding-bottom: 100%;
    margin:         0;
    display:        flex;
    align-items:    center;
  }
  
  .fm-Sidebar-caret {
    position:    absolute; 
    top:         0;
    left:        0;
    width:       100%;
    height:      100%;
    display:     flex;
    align-items: center;
    padding:     $smallGutter;
  }
}
