@import '../../style/fm-variables';

.fm-Wrapper {
  // background-color: black;
  font-size: 1rem;
}

.fm-Wrapper-title {
  font-family:   'Raleway', sans-serif;
  font-weight:   200;
  line-height:   1.5;
  font-stretch:  ultra-expanded;
  font-size:     5em;
  width:         100%;
  margin-bottom: 1.5em;
  // margin-bottom:  $lgGutter;
  // text-transform: uppercase;
}
