@import '../../style/fm-variables';

.fm-Wrapper {
  // background-color: black;
  font-size: 1rem;
}

.fm-Wrapper-title {
  @include section-title-text();
  font-weight:   200;
  line-height:   1.5;
  font-stretch:  ultra-expanded;
  font-size:     2em;
  width:         100%;
  margin-bottom: 1em;
  // margin-bottom:  $lgGutter;
  // text-transform: uppercase;
  // @media (min-width: $screen-md-min) {
  //   font-size: 2em;
  // }  
}
