@import '~font-awesome/scss/font-awesome';
@import 'bootstrap-pre-customizations';


$lightGreyNegative: rgba(0, 0, 0, .2);

$smallGutter:    5px;
$medGutter:      10px;
$lgGutter:       15px;

$headerLgHeight: 300px;
$headerSmHeight: 60px;
$headerGutter:   50px;

$navBarWidth:    40%;

@mixin fm-heading() {
  font-family:      'Raleway', sans-serif;
  text-transform:   uppercase;
  font-stretch:     ultra-expanded;
}
