@import '~font-awesome/scss/font-awesome';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/_variables';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/_mixins';
@import 'bootstrap-pre-customizations';
@import '~prismjs/themes/prism.css';

$lightGreyNegative: rgba(0, 0, 0, .2);

$smallGutter:    5px;
$medGutter:      10px;
$lgGutter:       15px;

$headerLgHeight: 300px;
$headerSmHeight: 80px;
$headerGutter:   50px;

$navBarWidth:    40%;
$logoWidth:      35px;

$lightGreyPositive: #888;

$thinLine: 1px $lightGreyNegative solid; 

@mixin underlined($isLink:false) {
  border-bottom: $thinLine;
  @if $isLink {
    &:hover {
      border-bottom: 1px opacify($lightGreyNegative, .5) solid;
    }
  }
}

@mixin section-title-text() {
  font-family: 'Lora', serif;
}

@mixin body-text() {
  font-family: 'Lora', serif;
}

@mixin header-text() {
  font-family:    'Oswald', sans-serif;
  text-transform: uppercase;
  letter-spacing: .05em;
}

@mixin section-heading-text() {
  font-family: 'Oswald', sans-serif;  
}

@mixin fm-heading() {
  // font-family:      'Raleway', sans-serif;
  font-stretch:     ultra-expanded;
  // text-transform:   uppercase;
}

@mixin fm-text() {
  // font-family: 'Lato', sans-serif;
}
