@import '../style/fm-variables';

.fm-Logo {
  outline: 1px black solid;
}

.fm-Logo-square {
  stroke: black;
}

.fm-Logo-curve {
  stroke: black;
  fill:   transparent;
}

html, body {
  @include fm-text();
  font-size: 14px;
  
  @media (min-width: $screen-md-min) {
      font-size: 14px;
  }
}
