@import '../style/fm-variables';

.fm-Logo {
  outline: 1px black solid;
}

.fm-Logo-square {
  stroke: black;
}

.fm-Logo-curve {
  stroke: black;
  fill:   transparent;
}


.fm-Main {
  margin-top: 0;
  
  @media (min-width: $screen-md-min) {
    margin-top: $headerLgHeight;
  }
}

body {
  height: 5000px;
}
