@import '../../style/fm-variables';


.fm-Article-publicationDate {
  // @include section-heading-text();
}

.fm-Article-previewTitle {
  @include section-heading-text();
}

.fm-Article-list {
  // padding:         0;
  list-style-type: none;
}

.fm-Article-previewLink {
  @include hoverUnderline();
  text-decoration: none;
  color:           inherit;
}

.fm-Article-previewTitle {
  margin-top: 0;
}

.fm-Blog-wrapper {
  // margin-left: $lgGutter;
}
