@import '../../style/fm-variables';

// mobile side navbar 
.fm-Nav {
  
}


// desktop navbar inside header 
.fm-Header {
  .fm-Nav {
    display:  none;
    position: absolute;;
    bottom:   0;
    right:    0;
    
    @media (min-width: $screen-md-min) {
      display: block;
    }
    
    
    .fm-Nav-list {
      list-style-type: none;
      padding:         0;
      
    }
    
    .fm-Nav-item {
      display: inline-block;
      float: right;
      margin: 10px;
      
      &:first-of-type {
        margin-right: $headerGutter;
      }
    }
    
    .fm-Nav-link {
      text-decoration: none;
      
      
    }
    
  }
  
  &.is-small {
    .fm-Nav {
      
      
    }
  }
}
